/*
    File name: about
    name: Simran
    Student id: 300991457
    date: 30 march, 2019
*/
/* 
********************************************
about page's css 
********************************************
*/
.about-image{
    margin:15px auto;
}

.about-image img{
width: 210px;
height: 224px;
border-radius: 50%;
}
