<main class="container-fluid">
    <!-- header section -->
    <div class="hero-section other-hero-section" style="background-image: url('../assets/images/home.jpg');">
        <div class="hero-section-overlay">
            <div class="hero-heading hero-heading-other">
                <div class="hero-text">
                    <h1>LOGIN</h1>
                </div>
            </div>
        </div>
    </div>
    <div class="container">
  <div class="row">
      <div class="col col-md-offset-4 col-md-4 margin-auto">
          <form autocomplete="off" (submit)="onLoginSubmit()">
              <fieldset class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control"
                  [(ngModel)]="user.username"
                  name="username" placeholder="Enter Username"
                  id="username" required autofocus autocomplete="off">
              </fieldset>
              <fieldset class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control"
                  [(ngModel)]="user.password"
                  name="password" placeholder="Enter Password"
                  id="password" required autocomplete="off">
                  or
                  <a routerLink="/register">Register Here</a>
              </fieldset>
              <fieldset class="form-group text-right">
                  <input type="submit" class="btn btn-success margin-buttons" value="Login">
                  <a routerLink="/home">
                      <input type="button" class="btn btn-warning" value="Cancel">
                  </a>
              </fieldset>
          </form>
      </div>
  </div>
</div>
</main>
