/*
    File name: login
    name: Simran
    Student id: 300991457
    date: 30 march, 2019
*/
/*login css*/
.hero-heading {
    padding:65px 0px !important;
}
.margin-auto{
    margin:15px auto;
}
.margin-buttons{
    margin-right:9px;
}