<!-- 
  file: contact
  name: Simran
  student id: 300991457
  date: 26 march, 2019
 -->
<app-base-page></app-base-page>

<!-- contact page content -->
<div class="container-fluid">
  <!-- header section contact page -->
  <div class="hero-section">
      <div class="hero-section-overlay">
          <div class="hero-heading hero-heading-other">
              <div class="hero-text">
                  <h1>CONTACT</h1>
              </div>
              <div class="hero-contact-text show-color">
                  <p>SIMRAN</p>
                  <p>Toronto, Canada</p>
                  <p><a class="show-color" href="mailto:s302@my.centennialcollege.ca" target="_top">s302@my.centennialcollege.ca</a></p>
                  <p><a class="show-color" href="https://www.linkedin.com/in/simran9524" target="_blank">linkedin.com/in/simran9524</a></p>
              </div>
          </div>
      </div>
  </div>
</div>
<div *ngIf="isLoggedIn()" class="container">
  <div class="row">
    <div class="col-md-5 margin-auto">
      <div class="card">
        <h5 class="card-header alert-success">Secure</h5>
        <div class="card-body">
          <a routerLink="contact-list" class="btn btn-primary"><i class="fas fa-users fa-lg"></i> Contact List</a>
        </div>
      </div>
    </div>
  </div>
</div>

