/*
    File name: contact-details
    name: Simran
    Student id: 300991457
    date: 30 march, 2019
*/
.hero-heading {
    padding:65px 0px !important;
}
.margins{
    margin-top:15px;
}
.margin-buttons{
    margin-left:9px;
}