<main class="container-fluid">
    <div class="hero-section other-hero-section" style="background-image: url('../assets/images/home.jpg');">
        <div class="hero-section-overlay">
            <div class="hero-heading hero-heading-other">
                <div class="hero-text">
                    <h1>Register</h1>
                </div>
            </div>
        </div>
    </div>
  <div class="row">
      <div class="col-4"></div>
      <div class="col-4 margins">
          <form autocomplete="off" (submit)="onRegisterSubmit()">
              <fieldset class="form-group">
                  <label for="username">Username:</label>
                  <input type="text" class="form-control"
                  [(ngModel)]="user.username"
                  name="username" placeholder="Enter Username"
                  id="username" required autocomplete="off">
              </fieldset>
              <fieldset class="form-group">
                  <label for="password">Password:</label>
                  <input type="password" class="form-control"
                  [(ngModel)]="user.password"
                  name="password" placeholder="Enter Password"
                  id="password" required autocomplete="off">
              </fieldset>
              <fieldset class="form-group">
                  <label for="email">Email:</label>
                  <input type="email" class="form-control"
                  [(ngModel)]="user.email"
                  name="email" placeholder="Enter Email"
                  id="email" required autocomplete="off">
              </fieldset>
              <fieldset class="form-group">
                  <label for="displayName">Dispaly Name:</label>
                  <input type="text" class="form-control"
                  [(ngModel)]="user.displayName"
                  name="displayName" placeholder="Enter Display Name"
                  id="displayName" required autocomplete="off">
              </fieldset>
              <fieldset class="form-group text-right">
                  <input type="submit" class="btn btn-success margin-buttons" value="Register">
                  <a routerLink="/">
                      <input type="button" class="btn btn-warning" value="Cancel">
                  </a>
              </fieldset>
          </form>
      </div>
  </div>
</main>
