<div class="container-fluid">
  <div class="hero-section other-hero-section" style="background-image: url('../assets/images/home.jpg');">
      <div class="hero-section-overlay">
          <div class="hero-heading hero-heading-other">
              <div class="hero-text">
                  <h1>Error: 404 - Page Not Found</h1>
                  <a routerLink="/home" class="btn btn-primary btn-lg"><i class="fas fa-undo-alt fa-lg"></i> Take Me home</a>
              </div>
          </div>
      </div>
  </div>
</div>
